<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><span style="color:yellow"><strong>Oued</strong></span
      ><span style="color:aqua">Kniss</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link <%= path === '/' ? 'active' : '' %> " href="/"
            >shop <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
        <a
        class="nav-link <%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products"
        >Admin Product</a
        >
        </li>
        <ul class="navbar-nav">
         <li class="nav-item">
          <div class="dropdown show">
            <a class="btn btn-success dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-plus"></i> Add Listing
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/admin/ComputersAccessories">Computers & Accessories</a>
              <a class="dropdown-item" href="/admin/cars">Cars</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li> 
      </ul>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
